@model IEnumerable<DoanquanlysachV3.Models.SACH>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.TenSach)
        </th>
        <th>
            Tên Nhà Xuất Bản
        </th>
        <th>
            Tên Thể Loại 
        </th>
      
       
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.TenSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHAXUATBAN.TenNhaXuatBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THELOAI.TenTheLoai)
        </td>
       
        

    </tr>
}

</table>
